body {
    background-color: rgba(233, 156, 195, 0.89);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer{
    background-color: deeppink;
    color:aliceblue;
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 2rem;
}

footer p{
 text-align: center;
 font-size: 0.6rem;
 margin-top: 0,5rem;
}

#container {
    display: flex;

}
